{% extends '../layouts/default.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-offset-1 col-md-5">
            <h1>
                Flash Cards
            </h1>
        </div>
        <div class="col-md-6" id="lang-combobox">
            <select id="language-list">
                <option selected>Choose Language</option>
            <!-- 
                populate list with fields like this:
                <option value="en">English</option>
                document.getElementById("language-list");
            -->
            </select>
        </div>
        <br />
        <table id="card-window">
            <tr>
                <!-- Clicking this transitions to previous card -->
                <td rowspan="2" id="back">
                    <!-- Mouseover increases in-element left drop shadow -->
                    <span id="leftarrow">
                        <h1> &nbsp; &larr; </h1>
                    </span>
                </td>
                <!-- Animate these divs so that it flips back and forth -->
                <td style="position:relative;">
                    <div id="flashcard" >
                        <div id="flashcardfront" class="flip" onclick="flipCard()">
                            <!-- Move this back in z-index so text can appear over it -->
                            <div id="cardtextfront">
                                <!--function should return the text here-->
                            </div>
                        </div>
                        <div id="flashcardback" class="flip back" onclick="flipCard()">
                            <!-- Move this back in z-index so text can appear over it -->
                            <div id="cardtextback">
                                <!--function should return the text here-->
                            </div>
                            <div id="audiobutton" translate-click onclick="">
                                <img src="../img/speaker.png" alt="Click to hear the word" width="40" height="40" />
                            </div>
                        </div>
                    </div>
                    <div id="fullscreen" onclick="doFullscreen()" style="position:absolute; right:20px; bottom:10px;">
                        <img src="../img/fullscreen.png" alt="Click to enter or exit fullscreen" width="40" style="cursor:pointer;" />
                    </div>
                </td>
                <!-- Clicking this transitions to the next card -->
                <td rowspan="2" id="next">
                    <!-- Mouseover increases in-element right drop shadow -->
                    <span id="rightarrow">
                        <h1> &rarr; &nbsp; </h1>
                    </span>
                </td>
            </tr>
        </table>
        <script>
            var isFullscreen = false;
            function doFullscreen() {
                var cw = document.getElementById("card-window");
                var fc = document.getElementById("flashcard");
                var fs = document.getElementById("fullscreen");
                if (!isFullscreen) {
                    if (cw.webkitRequestFullscreen) {
                        cw.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
                    } else if (cw.mozRequestFullScreen) {
                        cw.mozRequestFullScreen();
                    } else if (cw.msRequestFullscreen) {
                        cw.msRequestFullscreen();
                    } else if (cw.requestFullscreen) {
                        cw.requestFullscreen(); // standard
                    } else {
                        alert('Your browser does not support fullscreen :(');
                        fs.style.display="none";
                    }
                    fc.style.height="680";
                    fc.style.width="1000";
                } else {
                    if (document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                    } else if (document.mozCancelFullscreen) {
                        document.mozCancelFullscreen();
                    } else if (document.msExitFullscreen) {
                        document.msExitFullscreen();
                    } else if (document.exitFullscreen) {
                        document.exitFullscreen();
                    }
                    fc.style.height="350";
                    fc.style.width="550";
                }
                isFullscreen = !isFullscreen;
            }
            
            function flipCard() {
                var card = document.getElementById("flashcard");
                card.style.transform = "rotateX(180deg)";
                card.style["-webkit-transform"] = "rotateX(180deg)";
            }
        </script>
    </div>
{% endblock %}