<section>
  <h1>Settings</h1>
  <div>
    <b>Change Name</b>
    <form>
        <input type="text" placeholder="Current Password" />
        <input type="text" placeholder="New Name" />
        <button type="submit">Submit</button>
    </form>
    <div class="divider"></div>
    <b>Change Password</b>
    <form>
        <input type="text" placeholder="Current Password" />
        <input type="text" placeholder="New Password" />
        <input type="text" placeholder="Confirm New Password" />
        <button type="submit">Submit</button>
    </form>
    <div class="divider"></div>
    <b>Default Language</b>
    <form>
        <input type="text" placeholder="Current Password" />
        <select id="language-list">
            <option selected>Choose Language</option>
        </select>
        <button type="submit">Submit</button>
    </form>
    <div class="divider"></div>
  </div>
</section>