<section data-ng-controller="LessonsController" style="top:0; bottom:0;" lesson-creator>
  <div id="desc" style="position:relative; float:left; padding-right:5px; height:100%; width:150px; 
    box-shadow: -20px 0 30px -10px #DDDDDD inset;
    color:gray; text-align:right; font-size:small; font-family:arial;">
      Enter a title for this lesson
      <br /><br />
      Click the "+" button to add more word and image pairs to your lesson
  </div>
  <form id="deck" role="form" data-ng-submit="createLesson()" style="position:relative; left:5px;">
    <div class="form-group" class="col-md-offset-1">
      <div style="float:left; visibility:hidden;">asd</div>
      <input id="title" type="text" data-ng-model="lesson.title" placeholder="Lesson Name" style="width:200px;" autofocus required>
      <br />
    </div>
    <section data-ng-repeat="entry in lesson.entries" data-index="{{$index}}" class="entry">
      <span class="button glyphicon glyphicon-remove-circle" data-ng-click="removeEntry($index)"></span>
      <input type="text" class="word" placeholder="Enter a word" data-ng-model="entry.entry"  required>
      <input type="text" class="imgUrl" placeholder="Enter url to image" data-ng-model="entry.img" required>
    </section>
    <br />
    <button ng-click="newEntry()" style="border-radius:50px; left:3px;">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    <br />
    <button type="submit" style="float:left; background:#4488FF; color:white; left:3px;
    height:30px; width:150px; font-weight:bold; border-top:#AADDFF solid 2px; border-radius:8px; 
    border-left:#AADDFF solid 2px; border-right:#66AAFF solid 2px; border-bottom:#66AAFF solid 2px;
    ">Create a Lesson!</button>
  </form>
</section>