<section data-ng-controller="LessonsController" class="row" lesson-creator>
  <div class="row" flashcard>
    <div>
      <h1>
        Frogger - {{fc.title}}
      </h1>
    </div>
    <div class="col-md-6 col-md-offset-2" id="options">
      <select class="col-md-6" populate-lang-opts></select>
      <div class="col-md-4" rating-box id="ratingBox" data-ng-show="global.user._id">
        <span class="green glyphicon glyphicon-thumbs-up" ng-click="upvote()"></span>
        <span class="red glyphicon glyphicon-thumbs-down" ng-click="downvote()"></span>
      </div>
      <canvas id="display" tabindex="1" width="462" height="462"></canvas>
    </div>
    <br />
</section>