<section data-ng-controller="LessonsController" data-ng-init="find()">
  <ul class="articles unstyled">
    <li data-ng-repeat="lesson in lessons">
      <h2><a data-ng-href="#!/lessons/{{lesson._id}}">{{lesson.title}}</a></h2>
      <ul class ="unstyled">
        <li data-ng-repeat="entry in lesson.entries">
          <span>{{entry.entry}}</span>
        </li>
      </ul>
    </li>
  </ul>
  <h1 data-ng-hide="!lessons || lessons.length">No lessons yet. <br> Why don't you <a href="/#!/articles/create">Create One</a>?</h1>
</section>