<section id="fc" data-ng-controller='LessonsController'>  
  <div class="row" flashcard>
    <div class="col-md-offset-1 col-md-5">
      <h1>
        Flash Cards
      </h1>
    </div>
    <div class="col-md-6" id="lang-combobox">
      <select populate-lang-opts>
      </select>
    </div>
    <br />
    <table id="card-window">
      <tr>
        <!-- Clicking this transitions to previous card -->
        <td rowspan="2" id="back">
          <!-- Mouseover increases in-element left drop shadow -->
          <span id="leftarrow">
            <h1> &nbsp; &larr;</h1>
          </span>
        </td>
        <!-- Animate these divs so that it flips back and forth -->
        <td>
          <div id="flashcard">
            <div id="flashcardfront" class="flip">
              <div id="cardtextfront">
                <img src="{{fc.curEntry.img}}" />
              </div>
            </div>
            <div id="flashcardback" class="flip back">
              <div id="cardtextback">
                {{fc.curEntry.translation}}
              </div>
              <div id="audiobutton">
                <img src="../../img/flashcards/speaker.png" alt="Click to hear the word" width="40" height="40" />
              </div>
            </div>
          </div>
        </td>
        <td rowspan="2" id="next">
          <span id="rightarrow">
            <h1> &rarr; &nbsp; </h1>
          </span>
        </td>
      </tr>
    </table>
  </div>
</section>