<section class="container" id="fc" data-ng-controller='LessonsController'>  
  <div class="row" flashcard>
    <div class="col-md-offset-2">
      <h1>
        {{fc.title}}
      </h1>
    </div>
    <div class="col-md-6 col-md-offset-2" id="options">
      <select class="col-md-6">
        <option selected>Flash Cards</option>
        <option selected>Quizzes</option>
        <option selected>Frogger</option>
      </select>
      <select class="col-md-6" populate-lang-opts></select>
      <div class="col-md-6" rating-box id="ratingBox" data-ng-show="global.user._id">
        <span class="green glyphicon glyphicon-thumbs-up" ng-click="upvote()"></span>
        <span class="red glyphicon glyphicon-thumbs-down" ng-click="downvote()"></span>
      </div>
    </div>
    <br />
    <table id="card-window">
      <tr>
        <!-- Clicking this transitions to previous card -->
        <td rowspan="2" id="back">
          <!-- Mouseover increases in-element left drop shadow -->
          <span id="leftarrow">
            <h1> &nbsp; &larr;</h1>
          </span>
        </td>
        <!-- Animate these divs so that it flips back and forth -->
        <td id="fcContainer">
          <div id="flashcard">
            <div class="face front">
              <div class="text">
                <img src="{{fc.curEntry.img}}" />
              </div>
            </div>
            <div class="face back">
              <div class="text">
                {{fc.curEntry.translation}}
                <button data-ng-click="playTranslation($event)">
                  <span class="glyphicon glyphicon-volume-up"></span>
                </button>
              </div>
            </div>
          </div>
        </td>
        <td rowspan="2" id="next">
          <span id="rightarrow">
            <h1> &rarr; &nbsp; </h1>
          </span>
        </td>
      </tr>
    </table>
  </div>
</section>