{% extends '../layouts/default.html' %}

{% block content %}
    <div id="fc" class="row">
        <div class="col-md-offset-1 col-md-5">
            <h1>
                Flash Cards
            </h1>
        </div>
        <div class="col-md-6" id="lang-combobox">
            <select id="language-list" populate-lang-opts>
                <option selected value="">Choose Language</option>
            </select>
        </div>
        <br />
        <table id="card-window">
            <tr>
                <!-- Clicking this transitions to previous card -->
                <td rowspan="2" id="back">
                    <!-- Mouseover increases in-element left drop shadow -->
                    <span id="leftarrow">
                        <h1> &nbsp; < </h1>
                    </span>
                </td>
                <!-- Animate these divs so that it flips back and forth -->
                <td>
                    <div id="flashcard" class>
                        <div id="flashcardfront" class="flip" onclick="flipCard()">
                            <!-- Move this back in z-index so text can appear over it -->
                            <div id="cardtextfront">
                                <!--function should return the text here-->
                            </div>
                        </div>
                        <div id="flashcardback" class="flip back" onclick="flipCard()">
                            <!-- Move this back in z-index so text can appear over it -->
                            <div id="cardtextback">
                                <!--function should return the text here-->
                            </div>
                            <div id="audiobutton" onclick="">
                                <img src="../img/speaker.png" alt="Click to hear the word" width="40" height="40" />
                            </div>
                        </div>
                    </div>
                </td>
                <!-- Clicking this transitions to the next card -->
                <td rowspan="2" id="next">
                    <!-- Mouseover increases in-element right drop shadow -->
                    <span id="rightarrow">
                        <h1> > &nbsp; </h1>
                    </span>
                </td>
            </tr>
        </table>
        <script>
            function flipCard() {
                var card = document.getElementById("flashcard");
                card.style.transform = "rotateX(180deg)";
                card.style["-webkit-transform"] = "rotateX(180deg)";
            }
        </script>
    </div>
{% endblock %}