{% extends '../layouts/default.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-offset-1 col-md-5">
            Hello World
        </div>
        <div class="col-md-6" id="lang-combobox">
            <input type="text" list="language-list" />
            <datalist id="language-list" >
                <!-- populate list with fields like this
                <option>English</option
                call function that reads googletranslate.txt -->
            </datalist>
        </div>
        <br />
        <div id="card-window">
            <!-- Clicking this transitions to previous card -->
            <div id="back">
                
            </div>
            <!-- Animate these divs so that it flips back and forth -->
            <div id="flashcardfront" onclick="" style="background:../img/icons/card_bg.png border-radius:10px; box-shadow: 5px 5px 5px #888888;">
                <!-- Move this back in z-index so text can appear over it -->
                <div id="cardtext">
                    <!--function should return the text here-->
                </div>
            </div>
            <div id="flashcardback" onclick="" style="display:false; background:../img/icons/card_bg.png; border-radius:10px; box-shadow: 5px 5px 5px #888888;">
                <!-- Move this back in z-index so text can appear over it -->
                <div id="cardtext">
                    <!--function should return the text here-->
                </div>
                <div id="audiobutton" onclick="">
                    <img src="speaker" alt="Click to hear the word" />
                </div>
            </div>
            <!-- Clicking this transitions to the next card -->
            <div id="next">
                
            </div>
        </div>
    </div>
{% endblock %}