{% extends '../layouts/default.html' %}

{% block content %}
    <div id="fc" class="row">
        <div class="col-md-offset-1 col-md-5">
            <h1>
                Quizzes
            </h1>
        </div>
        <div class="col-md-6" id="lang-combobox">
            <select id="language-list">
                <option selected>Choose Language</option>
                <!-- 
                    populate list with fields like this:
                    <option value="en">English</option>
                    document.getElementById("language-list");
                -->
            </select>
        </div>
        <br />
        <style>
            #back:hover {box-shadow: 20px 0 20px -8px #333333 inset;}
            #next:hover {box-shadow: -20px 0 20px -8px #333333 inset;}
            #card-window:-webkit-full-screen {
              height: 100% !important;
              width: 100% !important;
            }
            #card-window:-moz-full-screen {
              height: 100% !important;
              width: 100% !important;
            }
            #card-window:-ms-fullscreen {
              height: 100% !important;
              width: 100% !important;
            }
            #card-window:fullscreen {
              height: 100% !important;
              width: 100% !important;
            }
        </style>
        <table id="card-window">
            <tr>
                <!-- Clicking this transitions to previous card -->
                <td rowspan="2" id="back">
                    <!-- Mouseover increases in-element left drop shadow -->
                    <span id="leftarrow">
                        <h1> &nbsp; &larr; </h1>
                    </span>
                </td>
                <!-- Quizzes -->
                <td style="position:relative;">
                    <div id="quiz-wrapper" style="float:center; margin:0 auto; vertical-align:middle;">
                        <div id="quiz-card" style="background-image:url('../img/card_bg.png'); height:350px; margin:0 auto;
                        width:550px; border-radius:10px; z-index:9; box-shadow: 5px 5px 5px 5px #555555;">
                            <table style="width:100%; height:100%;"><tr>
                            <td rowspan="4">
                                <div id="quiz-question" style="z-index:10; text-align:center; vertical-align:middle; overflow:hidden;">
                                    <!--function should return text or image here-->question
                                </div>
                            </td><td>
                                <div id="quiz-answer1" onclick="checkAns()" style="z-index:10; text-align:center; vertical-align:middle; overflow:hidden;">
                                    <!--function should return text here-->ans1
                                </div>
                            </td></tr>
                            <tr><td>
                                <div id="quiz-answer2" onclick="checkAns()" style="z-index:10; text-align:center; vertical-align:middle; overflow:hidden;">
                                    <!--remove or comment this text out-->ans2
                                </div>
                            </td></tr>
                            <tr><td>
                                <div id="quiz-answer3" onclick="checkAns()" style="z-index:10; text-align:center; vertical-align:middle; overflow:hidden;">
                                    <!--when the function that makes the text-->ans3
                                </div>
                            </td></tr>
                            <tr><td>
                                <div id="quiz-answer4" onclick="checkAns()" style="z-index:10; text-align:center; vertical-align:middle; overflow:hidden;">
                                    <!--is finished and working-->ans4
                                </div>
                            </td></tr>
                            </table>
                        </div>
                        <div id="fullscreen" onclick="doFullscreen()">
                            <img src="../img/fullscreen.png" alt="Click to enter or exit fullscreen" width="40" style="cursor:pointer;" />
                        </div>
                    </div>
                </td>
                <!-- Clicking this transitions to the next card -->
                <td rowspan="2" id="next" style="top:0; float:right; width:100px; height:500px;">
                    <!-- Mouseover increases in-element right drop shadow -->
                    <span id="rightarrow" style="color:white; vertical-align:middle; text-align:right; line-height:500px;">
                        <h1> &rarr; &nbsp; </h1>
                    </span>
                </td>
            </tr>
        </table>
        <script>
            var isFullscreen = false;
            function doFullscreen() {
                var cw = document.getElementById("card-window");
                var qc = document.getElementById("quiz-card");
                var fs = document.getElementById("fullscreen");
                if (!isFullscreen) {
                    if (cw.webkitRequestFullscreen) {
                        cw.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
                    } else if (cw.mozRequestFullScreen) {
                        cw.mozRequestFullScreen();
                    } else if (cw.msRequestFullscreen) {
                        cw.msRequestFullscreen();
                    } else if (cw.requestFullscreen) {
                        cw.requestFullscreen(); // standard
                    } else {
                        alert('Your browser does not support fullscreen :(');
                        fs.style.display="none";
                    }
                    qc.style.height="680";
                    qc.style.width="1000";
                } else {
                    if (document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                    } else if (document.mozCancelFullscreen) {
                        document.mozCancelFullscreen();
                    } else if (document.msExitFullscreen) {
                        document.msExitFullscreen();
                    } else if (document.exitFullscreen) {
                        document.exitFullscreen();
                    }
                    qc.style.height="350";
                    qc.style.width="550";
                }
                isFullscreen = !isFullscreen;
            }
        </script>
    </div>
{% endblock %}