td#fcContainer {
  -webkit-perspective: 800;
  font-size: 2.6rem;
}

#fc #back:hover {
    box-shadow: 20px 0 20px -8px #333333 inset;
}
#fc #next:hover {
    box-shadow: -20px 0 20px -8px #333333 inset;
}
#fc #card-window {
    top:0;
    padding:0;
    margin:0 auto;
    perspective:1000;
    position:relative;
    height:500px;
    width:800px;
    background:#888888;
    box-shadow: 0 0 10px 5px #444444 inset;
}
#fc tr {
    padding:0;
    margin:0;
}
#fc #quiz-wrapper {
    margin:0 auto;
    vertical-align:middle;
}
#fc #quiz-card {
    margin:0 auto;
    height:350px;
    width:550px;
    vertical-align:middle;
    /*background-image:url('../../img/flashcards/card_bg.png');*/
    font-family:gulim, arial, serif;
    border-radius:10px;
    z-index:9;
    box-shadow:5px 5px 5px 5px #555555;
}
#fc #back {
    float:left;
    width:100px;
    height:500px;
    vertical-align:middle;
}
#fc #leftarrow {
    color:white;
    vertical-align:middle;
    line-height:500px;
}
#fc #flashcard {
    margin:0 auto;
    vertical-align:middle;
  height:350px;
  width:550px;
  -webkit-transform-style:preserve-3d;
  -webkit-transition:all 0.5s linear;
    font-family:'Arvo', arial, serif;
  border-radius:10px;

}
#fc #flashcard .face {
  width:100%;
  height: 100%;
  border-radius:10px;
  background: url('../../img/flashcards/card_bg.png');
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  z-index: 2;
}
#fc #flashcard .front {
  box-shadow: 5px 0 5px 5px #555555;
  position: absolute;
  z-index: 1;
}
#fc #flashcard .front img {
  width: 25%;
  height: 25%;
  border-radius:10px;
}
#fc #flashcard .back {
  box-shadow: 5px 0 5px 5px #555555;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
#fc #flashcard.flipped {
  transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg);
}

#fc #flashcard .face .text {
  position: relative;
  text-align:center;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

#fc #next {
    top:0;
    float:right;
    width:100px;
    height:500px;
}
#fc #rightarrow {
    color:white;
    vertical-align:middle;
    text-align:right;
    line-height:500px;
}
#fc .quiz-answer {
    z-index:10;
    text-align:center;
    vertical-align:middle;
    overflow:hidden;
}
#fc #fullscreen {
    position:absolute;
    right:20px;
    bottom:10px;
}
#fc .wh {
    width:100%;
    height:100%;
}
#fc #card-window:-webkit-full-screen {
  width: 100% !important;
}
#fc #card-window:-moz-full-screen {
  width: 100% !important;
}
#fc #card-window:-ms-fullscreen {
  width: 100% !important;
}
#fc #card-window:fullscreen {
  width: 100% !important;
}
